# dependencies
node_modules
.idea
# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

hello-koa/node_modules
hello-koa/package-lock.json

mocha-test/node_modules
mocha-test/package-lock.json

hello-ws/node_modules
hello-ws/package-lock.json
